<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Товары</title>
</head>
<body>
<h1>Список товаров</h1>
<form action="/items/add" method="post" th:object="${item}">
    <input type="text" name="name" placeholder="Наименование" th:field="*{name}" required>
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Имя не должно быть меньше чем 3 символа</div>
    <input type="text" name="description" placeholder="Описание" th:field="*{description}" required>
    <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Описание должно быть не больше 255 символов</div>
    <input type="number" name="price" placeholder="Цена" step="0.01" th:field="*{price}" required>
    <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Цена должна быть не больше 99999.99</div>
    <button type="submit" formmethod="post">Добавить товар</button>
</form>

<h2>Все товары: </h2>
<ul>
    <th:block th:each="item : ${items}">
        <li>
            <span th:text="${item.name} + ' ' + ${item.description} + ' ' + ${item.price}"></span>
            <form action="/items/update" method="post" style="display:inline;">
                <input type="hidden" name="id" th:value="${item.id}">
                <input type="text" name="name" th:value="${item.name}" placeholder="Наименование" required>
                <input type="text" name="description" th:value="${item.description}" placeholder="Описание" required>
                <input type="number" name="price" th:value="${item.price}" placeholder="Цена" step="0.01" required>
                <button type="submit" formmethod="post">Обновить товар</button>
            </form>
            <form action="/items/delete" method="post" style="display:inline;">
                <input type="hidden" name="id" th:value="${item.id}">
                <button type="submit" formmethod="post">Удалить товар</button>
            </form>
        </li>
    </th:block>
</ul>


<script th:insert="blocks/sessionChecker">

</script>
</body>
</html>